#root {
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
}

#landing {
  height: 100vh;
  background-color: black;
}

video {
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
}

.down-arrow {
  z-index: 10;
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%) rotate(90deg);
}
